/* DEFAULT COLORS */

$color-black: #232323;
$color-darkgrey: #464646;
$color-grey: #a7a7a7;
$color-lightgrey: #d8d8d8;
$color-white: #fcfcfc;

$color-slateblue: #478587;
$color-darkblue: #154482;
$color-blue: #3563b2;
$color-lightblue: #95c6f2;

$color-red: #783532;

$color-yellow: #baa737;
$color-lightyellow: #f2df97;