/* NAVBAR */

.navbar {    
    background-color: $color-darkblue;
    padding: 0 10rem;
    
    text-transform: uppercase;
    
    .navbar-brand {
        display: inline-block;
        width: 4rem;
        
        color: $color-white;
        transition: scale, 0.5s;
        
        img {
            width: 100%;
        }
        
        &:hover {
            transform: scale(1.25);
        }
        
    }
        
    .nav-item {
        margin: 0 1rem;
            
        .nav-link {
            color: $color-white;
            
            transition: color, 0.25s;
                
            &:hover {
                color: darken($color-white, 15);
            }
        }
    }
}
